<script type="text/javascript">
    $(function(){
	var freq = 1000;
	var file_elem = null;
	var progress_bar = null;
	var progress_text = $('<strong>');
	var {{ name }}_uploader = new plupload.Uploader({{ plupload_settings }});

	function update_progress(){
	    $.getJSON({{ name }}_uploader.settings.url, function(data, status){
		if(data && data.task == 'converting'){
		    window.setTimeout(update_progress, freq);
		    var progress = Math.round(data.progress);
		    progress_bar.progressbar("option", "value", progress);
		    progress_text.html(data.task_name +": " + progress + "%");
		} else if(data && data.task == 'uploading' && 
			  data.status == 'complete'){
		    file_elem.remove();
		    $('#{{ name }}_browse_btn').show();
		    $("#{{ name }}_initial").html(data.rendered_result);
		}
	    });
	}
	{{ name }}_uploader.settings['multipart_params'] = {
	    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
	};
	{{ name }}_uploader.bind('FilesAdded', function(up, files) {
	    for(var i in {{ name }}_uploader.files){
		{{ name }}_uploader.removeFile({{ name }}_uploader.files[i]);
	    }
	    for (var i in files) {
		var file = files[i];
		file_elem = $('<div id="' + file.id + '">' + file.name + ' (' + 
			      plupload.formatSize(file.size) + ') </div>');
		var file_rem_btn = $('<a class="icon-remove" href="" data-file-id="'
				     + file.id + '"></a>');
		progress_text.html(file_rem_btn);
		progress_bar = $('<div>').progressbar({value: 0})
		    .css({'width': '200px', 'height': '20px'});
		file_elem.append(progress_text).append(progress_bar);
		$('#{{ name }}_container').append(file_elem);
		progress_bar.hide();
		$(file_rem_btn).click(function(){
		    var file_id = $(this).data('fileId');
		    {{ name }}_uploader.removeFile(
			{{ name }}_uploader.getFile(file_id));
		    return false;
		});
	    }
	    $('#{{ name }}_upload_btn').show();
	});
	
	{{ name }}_uploader.bind('FilesRemoved', function(up, files) {
	    file_elem.remove();
	    $('#{{ name }}_upload_btn').hide();

	});
	{{ name }}_uploader.bind('BeforeUpload', function(up, file) {
	    $('#{{ name }}_browse_btn').hide();
	    progress_bar.show();
	});
	{{ name }}_uploader.bind('UploadProgress', function(up, file) {
	    $(progress_bar).progressbar("option", "value", file.percent);
	    progress_text.html("Uploading: " + file.percent + "%");
	});

	{{ name }}_uploader.bind('FileUploaded', function(up, file, response) {
	    if(response.status == '200'){
		var data = $.parseJSON(response.response);
		if(data.task == 'uploading'){
		    if(data.status == 'complete'){
			{{ name }}_uploader.removeFile(file);
			$("#{{ name }}_initial").html(data.rendered_result);
			$('#{{ name }}_browse_btn').show();
		    } else if(data.status == 'failed'){
			var errors_container = $("<div>", {'class': "errorlist"});
			for(i in data.errors){
			    errors_container.append(
				"<div class='errorText alert alert-error'>"
				    + data.errors[i] + "</div>"
			    );
			}
			$("#" + file.id).append(errors_container);
		    }
		}  else if(data.task == 'converting'){
		    window.setTimeout(update_progress, freq);
		}
	    } else if(response.status == '409'){
		var data = $.parseJSON(response.response);
		alert(data.reason.task_name + 
		      " is in progress. Please try again later.");
	    } else {
		alert("There has been an error. Please try again later.");
	    }
	    
	});
	$('#{{ name }}_upload_btn').hide().click(function() {
	    $(this).hide();
	    {{ name }}_uploader.start();
	    return false;
	});
	{{ name }}_uploader.init();
    });
</script>
